body {
    background-color: aqua;
    font: normal 15pt Arial;

}

header {
    /* display: flex; */
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px grey;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}